/*
.Form{
	margin: 0 auto;	
    font-family: 'Libre Baskerville', serif;
}

.MastHead
{
    font-family: 'Oswald', sans-serif;
	text-align: center;	
    background-color: #47007F;
    color: white;
    width:100%;
}
.Wrapper
{
    margin: 0 auto;
    padding-left: 15%;
    padding-right: 15%;
}

label
{
	float: left;
    padding: 20px;
}

input{
 
clear: both;
    
}
body{
    background-color:#B04CFF;
}

.email{
    
    float:left;
}
.PASS{
    float:left;
}
.URL{
    float: left;
}

.name
{
  float: left;
}
.subBtn{
 
    clear: both;
    text-align: center;
    width:100%;
}

#btnlabel{
    padding-left: 25%;
    padding-right: 25%;
}
*/
 body{
        background-color:#B04CFF;
    }
    
.Form
{	
    margin: 0 auto;	
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}
    
.MastHead
{
    font-family: 'Oswald', sans-serif;
    text-align: center;	
    background-color: #47007F;
    color: white;
    width:100%;
}
.Wrapper
    {
        margin: 0 auto;
        padding-left: 15%;
        padding-right: 15%;
    }

@media screen and (max-width:500px)
{

    label
    {
        text-align: left;
        padding: 20px;
        display: block;
        clear: both;
    }
    
    input{
        
        clear: both;
        display: block;   
    }

    
    .email{
        
        float:left;
        display: block;
    }
    .PASS{
        float:left;
        display: block;
    }
    .URL{
        float: left;
        display: block;
    }
    
    .name
    {
        float: left;
        display: block;
    }
    
    .subBtn{
        
        clear: both;
        text-align: center;
        width:100%;
        padding-left: 10%;
        }
 #btnlabel{
        padding-left: 25%;
        padding-right: 25%;
        text-align: center;
    }
    
    
   
}

@media screen and (max-width:1000px)
{

    
    label
    {
        text-align: left;
        padding: 20px;
        display: block;
        clear: both;
    }
    
    input{
        
        clear: both;
        display: block;   
    }

    
    .email{
        
        float:left;
        display: block;
    }
    .PASS{
        float:left;
        display: block;
    }
    .URL{
        float: left;
        display: block;
    }
    
    .name
    {
        float: left;
        display: block;
    }
    
    .subBtn{
        
        clear: both;
        text-align: center;
        width:100%;
        padding-left: 10%;
        }
 #btnlabel{
        padding-left: 25%;
        padding-right: 25%;
        text-align: center;
    }
    
    .Col1{
        float: left;
        width: 100%;
    }
    .Col2{
        float: left;
        width: 100%;
        clear: both;
        
    }
}

@media screen and (min-width:1000px)
{
    .Col1{
        float: left;
        width: 100%;
    }
    .Col2{
        float: left;
        width: 100%;
        clear: both;
        
    }
   
    
    label{
        display: block;
        float: left;
        
    }
   
    .email{
        
        float:left;
        padding: 5%;
        
       
    }
    .PASS{
        float:left;
        padding: 5%;
        
      
    }
    .URL{
        float: left;
        padding: 5%;
        
    }
    
    .name
    {
        
        float: left;
         padding: 5%; 
    }
    
    .subBtn{
        clear: both;
        text-align: center;
        width:100%;
        margin: auto 0;
        padding-top:5% 50% 0 25%
        
        }
    #btnlabel{
        
        text-align: center;
        margin: auto 0;
        width: 25%;
    }
    
   
}

